.menu-icon {
  position: fixed;
  font-size: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0); /* Gör ikonen vit */
  padding: 10px;
  top: 15px;
  left: 15px;
  z-index: 1100; /* Ovanpå allt */
  background-color: #38846d; /* Samma färg som resten av navbaren */
  border-radius: 5px;
}

/* Overlay som täcker hela skärmen */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #38846d; /* Hela navbaren och overlay är grön */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigationens meny */
.navbar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  font-family: "PT Serif", serif;
}

.navbar__menu {
  list-style: none;
}


.navbar__item a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
  display: block;
  text-align: center;
}

.navbar__item a:hover {
  color: #007bff; 
}

body {
  padding-top: 70px; 
  background-color: #38846d; 
}


