
.link {
  text-decoration: none !important;
  color: white;
}

a.link {
  text-decoration: none !important;
}

.startpage {
  background-color: #38846d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative; /* Behövs för absolut positionering */

  /* Header-bild vänster och höger */
  .header {
    position: absolute;
    width: 150px; /* Justera storlek på bilder */
    height: auto;

    &.left {
      top: 0; /* Placeras högt upp */
      left: 0; /* Placeras vid vänsterkanten */
    }

    &.right {
      top: 0; /* Placeras högt upp */
      right: 0; /* Placeras vid högerkanten */
    }
  }
}


.startpage h1 {
  font-family: 'Rufina', serif;
  font-size: 4.5em;
  font-weight: 00;
  margin: 10px 0;
  padding: 0;
}

.startpage h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 5px 0;
  padding: 0;
  letter-spacing: 0.4em;
}